* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body {
background-color: black;
}
.container {
height: 100vh;

display: flex;
align-items: center;
justify-content: center;

perspective: 10000px;
transform-style: preserve-3d;

animation: roteTwoSide 5s linear infinite;
cursor: pointer;
}
@keyframes roteTwoSide {
0% {
    transform: rotateY(0deg);
}
100% {
    transform: rotateY(-360deg);
}
}
.cube {
width: 100px;
height: 100px;

position: relative;
transform-style: preserve-3d;
animation: roteUpdown 5s linear infinite;
}
@keyframes roteUpdown {
0% {
    transform: rotateX(0deg);
}
100% {
    transform: rotateX(-360deg);
}
}
.front {
position: absolute;
background-color: yellowgreen;
width: 100%;
height: 100%;

transform-style: preserve-3d;
transform: translateZ(150px);

box-shadow: 101px 0 0 0 yellowgreen,
            -101px 0 0 0 yellowgreen,
            -101px -101px 0 0 yellowgreen, 
            101px 101px 0 yellowgreen,
            0 -101px 0 0 yellowgreen, 
            101px -101px 0 0 yellowgreen,
            101px 0 0 0 yellowgreen, 
            0 101px 0 0 yellowgreen,
            -101px 101px 0 0 yellowgreen;
}
.back {
position: absolute;
background-color: blueviolet;
width: 100%;
height: 100%;

transform-style: preserve-3d;
transform: translateZ(-150px);

box-shadow: 101px 0 0 0 blueviolet, 
            -101px 0 0 0 blueviolet,
            -101px -101px 0 0 blueviolet, 
            101px 101px 0 0 blueviolet,
            0 -101px 0 0 blueviolet, 
            101px -101px 0 0 blueviolet, 
            101px 0 0 0 blueviolet,
            0 101px 0 0 blueviolet, 
            -101px 101px 0 0 blueviolet;
}

.left {
position: absolute;
background-color: #fff;
width: 100%;
height: 100%;

transform-style: preserve-3d;
transform: rotateY(90deg) translateZ(150px);

box-shadow: 101px 0 0 #fff,
            -101px 0 0 #fff,
            -101px -101px 0 0 #fff,
            101px 101px 0 0 #fff,
            0 -101px 0 0 #fff,
            101px -101px 0 #fff,
            101px 0 0 #fff,
            0 101px 0 #fff,
            -101px 101px 0 #fff;
}
.right {
position: absolute;
background-color: red;
width: 100%;
height: 100%;

transform-style: preserve-3d;
transform: rotateY(90deg) translateZ(-150px);

box-shadow: 101px 0 0 red, 
            -101px 0 0 red, 
            -101px -101px 0 red,
            101px 101px 0 red, 
            0 -101px 0 red, 
            101px -101px 0 red, 
            101px 0 0 red,
            0 101px 0 red, 
            -101px 101px 0 red;
}
.top {
position: absolute;
background-color: lightcoral;
width: 100%;
height: 100%;

transform-style: preserve-3d;
transform: rotateX(90deg) translateZ(150px);

box-shadow: 101px 0 0 lightcoral, 
            -101px 0 0 lightcoral,
            -101px -101px 0 lightcoral, 
            101px 101px 0 lightcoral, 
            0 -101px 0 lightcoral,
            101px -101px 0 lightcoral, 
            101px 0 0 lightcoral, 
            0 101px 0 lightcoral,
            -101px 101px 0 lightcoral;
}
.bottom {
position: absolute;
background-color: yellow;
width: 100%;
height: 100%;

transform-style: preserve-3d;
transform: rotateX(90deg) translateZ(-150px);

box-shadow: 101px 0 0 yellow,
            -101px 0 0 yellow, 
            -101px -101px 0 yellow,
            101px 101px 0 yellow, 
            0 -101px 0 yellow, 
            101px -101px 0 yellow,
            101px 0 0 yellow, 
            0 101px 0 yellow, 
            -101px 101px 0 yellow;
}
